
@font-face {
    font-family: "special";
    src: url('./assets/fonts/SpecialElite-Regular.ttf');
}

@import 'tailwindcss';


 :root {
    --dark-grey: #333;
    --light-grey: #ddd;
}

body {
    font-family: "special";
    scroll-behavior: smooth;
    scroll-margin-block: 0;
    scrollbar-width: none;
    scroll-snap-align: center;
}

.dark{
    background-color: var(--dark-grey);
    color: var(--light-grey);
}

.light{
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

/*.logo {
    animation: glitch 10s infinite linear;
}*/

svg text{
        transform-origin: 50% 50%;
        animation: rotate linear infinite 10s ;
}


svg textPath {
    font-family: "special", sans-serif;
    fill: currentColor;
}

@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
}

/*@keyframes glitch {
    0%, 49%, 51%, 100% {
        transform: skew(0deg);
    }
    50% {
        transform: skew(180deg);
    }
}*/
